<div class="phone-container">
    <div>
        <button (click)="prev()">
            <span class="fa fa-fast-backward"></span>
        </button>
        <button (click)="play()">
            <span class="fa fa-play"></span>
        </button>
        <button (click)="next()">
            <span class="fa fa-fast-forward"></span>
        </button>
    </div>

    <div>
        <button (click)="volumeDown()">
            <span class="fa fa-volume-down"></span>
        </button>
        <button (click)="volumeUp()">
            <span class="fa fa-volume-up"></span>
        </button>
        <button (click)="mute()">
            <span class="fa fa-volume-off"></span>
        </button>
    </div>

    <div>
        <button (click)="fullscreen()">
            <span>Tela cheia</span>
        </button>
    </div>
</div>