.alert-container {
    display: flex;
    align-items: center;
    flex-direction: column;

    padding: 15px;
}

/* para telas de dispositivos móveis */
@media only screen and (hover: none) and (pointer: coarse){

    .alert-container > * {
        width: 100%;
    }

}